<style type="text/css">
  .ghContributors {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
  }

  .ghContributors > div {
    width: 50%;
    display: inline-flex;
    margin-bottom: 5px;
  }
  .ghContributors > div label {
    padding-left: 4px;
  }
  .ghContributors > div span {
    font-size: x-small;
    padding-left: 4px;
  }
</style>
<div class="ghContributors">
  {{ $url := .Get 0 }}
  {{ with resources.GetRemote $url }}
    {{ with .Err }}
      {{ errorf "Unable to get remote file: %s" . }}
    {{ else }}
      {{ $data := .Content | transform.Unmarshal }}
      {{ range $data }}
      <div>
        <label><a href="{{.html_url}}">@{{.login}}</a></label>
        <span class="contributions">{{.contributions}} commits</span>
      </div>
      {{ end }}
    {{ end }}
  {{ else }}
    {{ errorf "Unable to get remote resource: %s" $url }}
  {{ end }}
</div>
